section {
  &.sec-3 {
    h2 {
      
      &.u3 {
        position: relative;
         

        &::after {
          content: '';
          background-image: url(../../images/Element3.png);
          background-repeat: no-repeat;
          width: 100%;
          height: 100px;
          position: absolute;
          top: 58px;
          left: 230px;
          background-size: 300px;
          @apply hidden lg:inline-block;
        }
      }

      &.u4 {
        position: relative;
        z-index: 1;

        &::after {
          content: '';
          background-image: url(../../images/u4.png);
          background-repeat: no-repeat;
          width: 100%;
          height: 100px;
          position: absolute;
          top: 120px;
          left: -15px;
          background-size: 640px;
          z-index: -1;
          @apply hidden lg:inline-block;
        }
      }
    }
  }
}